/*font-family: 'Cabin', sans-serif;
font-family: 'Lobster Two', cursive;*/
/*nav {
  line-height: normal !important;
}*/
.awtrNav {
  height:10vh !important;
  line-height:10vh;
}

.awtrHamburger {
  height: 8vh;
  align-self: center !important;
}

.awtrLogo {
  font-family: 'Lobster Two', cursive;
  font-size: 7vh !important;
  /*align-self: center;*/
  margin-left: 1vw;
}


.brand-logo {
  left: 0;
}

.awtrNavWrapper {
  /*display: flex;*/
  background-color: #999999;
  justify-content: space-between;
}

.awtrMenuButtonCollapse {
  align-self: center;
  font-size: 5rem !important;
}

.awtrMenuFont {
  font-size: 4vh !important;
}


/*MAIN*/
main {
  background-color: #66cccc;
}
.awtrMain {
  display: flex;
  background-color: #66cccc;
  height: 80vh;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.awtrButtonContainer {
  width:50%;
  height: auto;
  display: flex;
}
.awtrLinkButton {
  display: flex;
  background-color: transparent;
  color: grey;
  opacity: 50% !important;
  height: auto;
  width: 50vw;
  border-style: solid;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  padding: 0;
  }

.btn-large {
  background-color: none !important;
}

/*FOOTER*/
.awtrPageFooter {
  font-family: 'Cabin', sans-serif;
  margin-top: 0px !important;
  background-color: #999999 !important;
  -webkit-font-smoothing: antialiased;
}
.awtrIconContainer {
  display: flex;
  justify-content: space-around;
}
.awtrIcon {
  height: 5vh;
}

.awtrFooterContBig {
  display: flex;
  justify-content: center;
}
