/*font-family: 'Cabin', sans-serif;
font-family: 'Lobster Two', cursive;*/

.awtrNav {
  height:10vh !important;
}

.awtrLogo {
  font-family: 'Lobster Two', cursive;
  font-size: 9rem !important;
  align-self: center;
}

.awtrNavWrapper {
  display: flex;
  background-color: #999999;

}
.awtrMenuButtonCollapse {
  align-self: center;
  font-size: 5rem !important;
}

.awtrMenuFont {
  font-size: 3rem !important;
}
/*MAIN*/

.awtrMain {
  display: flex;
  background-color: #66cccc;
  height: 80vh;
}

/*FOOTER*/
.awtrPageFooter {
  margin-top: 0px !important;
  background-color: #999999 !important;

}
.awtrIconContainer {
  display: flex;
  justify-content: space-around;
}
.awtrIcon {
  height: 5vh;
}
