<!-- NAV/HEADER -->
      <header>
          <nav class="awtrNav">
              <div class="awtrNavWrapper nav-wrapper">
                  <a href="page2" class="awtrLogo brand-logo">Awtr</a>
                  <a href="#" data-activates="mobile-demo" class="awtrMenuButtonCollapse button-collapse"><img class="awtrHamburger" src="images/three-bars.svg"></a>
      </header>
<!-- SIDE NAV -->
                  <div class="side-nav" id="mobile-demo">
                    <div class="will-container"></div>
                    <!-- AUSTINS CODE -->


                        <section>
                          <ul id="selectromp" class="collapsible" data-collapsible="accordion">
                              <li>
                                  <div class="collapsible-header center-align"><h1>Select Romp</h1></div>
                                  <div class="collapsible-body">
                                      <h3>Romp List:</h3>
                                      <div id="romplist">
                                     </div>
                                 </div>
                              </li>
                          </ul>
                           <ul id="rompcreater" class="collapsible" data-collapsible="accordion">
                               <li>
                                   <div class="collapsible-header center-align"><h1>Create Romp</h1></div>
                                   <div class="collapsible-body">
                                     <div id="romp-form">
                                       <div class="romp-content">
                                        <form id="form">
                                          <h3>Romp name:</h3>
                                          <input id = "rompname" type="text" name="rompname" value="" style="font-size: 350%;"><br>
                                        </form>
                                        <div id="new-romp"></div>
                                        <div class="button">
                                          <a id = "create-romp1" class="waves-effect waves-teal btn-flat" style="font-size: 300%">Create Romp</a>
                                        </div>
                                      </div>
                                      </div>
                                  </div>
                               </li>
                           </ul>
                       </section>


                       


                  </div>

              </div>
          </nav>

<!-- MAIN   -->
      <main>
          <div class="awtrMain col l12 s12">
            
          </div>
      </main>
