
<!-- NAV/HEADER -->
      <header>
          <nav class="awtrNav">
              <div class="awtrNavWrapper nav-wrapper">
                  <a href="/" class="awtrLogo brand-logo">Awtr</a>
                  <a href="#" data-activates="mobile-demo" class="awtrMenuButtonCollapse button-collapse"><img class="awtrHamburger" src="images/three-bars.svg"></a>
      </header>
<!-- SIDE NAV -->

                <div>
                  <div class="side-nav" id="mobile-demo">
                    <div class="will-container"></div>
                  </div>
              </div>


<!-- MAIN   -->
<main>
    <div class="awtrMain col l12 s12">

      <div class="row awtrMainRow">


        <!-- romp section -->
            <ul id="selectromp" class="collapsible" data-collapsible="accordion">
                <li>

                    <div id="rompTitle" class="collapsible-header center-align"><img src = "images/awtrGroupIcon-01.svg"></div><p class="rompExplained">Create a romp</p><p class="travelGroup">(your travel group)</p>

                    <div class="collapsible-body">

                       <!-- <h1>Create Romp</h1> -->
                       <h3 class="existingRomps">My existing Romps:</h3>
                       <div id="romplist">
                       </div>

                        <div id="romp-form">
                         <div class="romp-content">
<!-- ______________ -->

                          <form id="form">
                            <h3 class="addRompName">Add a romp name:</h3>
                            <input id = "rompname" type="text" name="rompname" value=""  autofocus="autofocus"><br>
                          </form>

                          <div id="new-romp">
                          </div>

<!-- ______________ -->

                          <div class="button">
                            <a id = "create-romp1" class="waves-effect waves-light btn" style="font-size: 300%">Add Romp</a>

                          </div>
                        </div>
                        </div>

                      </div>
                 </li>
               </ul>



<!-- TRIP section -->
        <ul id="selectTripUL" class="collapsible" data-collapsible="accordion">
            <li class="tripLi">
                <div class="selectTrip2 collapsible-header" id="selectTripHeading"><p>Select a Trip</p></div>

                <div class="collapsible-body">
                    <h2>Trip List:</h2>
                    <ul id="triplist">
                   </ul>
                   <form id = "tripform" action="action_page.php">
                  </form>
                   <h3 id= "addtrip" class="waves-effect waves-teal btn">Add Trip</h3>
               </div>
            </li>
        </ul>

        <!-- activity section -->
        <div id = "activity-form" class = "row"></div>

        <div id= "activity" class="waves-effect waves-light btn">Add an Activity</div>



      </div>
    </div>

</main>
