<!-- NAV/HEADER -->
      <header>
          <nav class="awtrNav">
              <div class="awtrNavWrapper nav-wrapper">
                  <a href="/" class="awtrLogo brand-logo">Awtr</a>
                  <a href="#" data-activates="mobile-demo" class="awtrMenuButtonCollapse button-collapse"><img class="awtrHamburger" src="images/three-bars.svg"></a>
      </header>
<!-- SIDE NAV -->

                <div>
                  <div class="side-nav" id="mobile-demo">
                    <div class="will-container"></div>

            

                  </div>
              </div>



<!-- MAIN   -->
<main>
    <div class="awtrMain col l12 s12">
      
        <!-- romp section -->
        <div class="awtrMain2 col l12 s12">
            <ul id="selectromp" class="collapsible" data-collapsible="accordion">
                <li>
                    <div id="rompTitle" class="collapsible-header center-align">My Romps</div>

                    <div class="collapsible-body">
                        <h3>My romp list:</h3>
                        <div id="romplist">
                        </div>

                       <!-- <h1>Create Romp</h1> -->
                       <div id="romp-form">
                         <div class="romp-content">

                          <form id="form">
                            <h3>Romp name:</h3>
                            <input id = "rompname" type="text" name="rompname" value="" style="font-size: 350%;"><br>
                          </form>

                          <div id="new-romp">
                          </div>

                          <div class="button">
                            <a id = "create-romp1" class="waves-effect waves-light btn" style="font-size: 300%">Create Romp</a>

<!-- MAIN   -->
<main>
    <div class="awtrMain col l12 s12">
      <div class="row">
        <!-- romp section -->
            <ul id="selectromp" class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header center-align"><h1 id="rompTitle">Romps</h1></div>
                    <div class="collapsible-body">
                        <h3>Romp List:</h3>
                        <div id="romplist">
                       </div>
                       <h1>Create Romp</h1>
                       <div id="romp-form">
                         <div class="romp-content">
                          <form id="form">
                            <h3>Romp name:</h3>
                            <input id = "rompname" type="text" name="rompname" value="" style="font-size: 350%;"><br>
                          </form>
                          <div id="new-romp"></div>
                          <div class="button">
                            <a id = "create-romp1" class="waves-effect waves-teal btn-flat" style="font-size: 300%">Create Romp</a>
                          </div>
                        </div>
                        </div>

                      </div>
                 </li>
               </ul>

        <!-- trip section -->
        <ul id="selectTrip" class="collapsible" data-collapsible="accordion">
            <li>

                <div class="collapsible-header"><h2 id="tripTitle">Select Trip</h2></div>

                <div class="collapsible-body">
                    <h2>Trip List:</h2>
                    <ul id="triplist">
                   </ul>
                   <form id = "tripform" action="action_page.php">
                  </form>
                   <h3 id= "addtrip" class="waves-effect waves-teal btn-flat">Add Trip</h3>
               </div>
            </li>
        </ul>

        <!-- activity section -->
        <div id = "activity-form" class = "row"></div>

        <h2 id= "activity" class="waves-effect waves-orange btn-flat">Add Activity</h2>


      </div>

      </div>
</main>
