#otter1 {
    width: 25%;
    height: 100px;
    left:28%;
    top:0%;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    /*animation-name: example;
    animation-duration: 4s;*/
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   { left:-50%; top:0%;}
    100% {left:28%; top:0%;}
}

#otter2 {
    width: 25%;
    height: 100px;
    left:22%;
    position: relative;
    -webkit-animation-name: otter2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2.1s; /* Safari 4.0 - 8.0 */
    /*animation-name: example;
    animation-duration: 4s;*/
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes otter2 {
    0%   {left:150%; top:0px;}
    100% {left:22%; top:0px;}
}

#title{
  padding-left: 15%;
  font-size: 50%;
  padding-top: 10%;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1.8s;
  font-family: Lobster;
}
