#otter1 {
    width: 25%;
    height: 100px;
    left:28%;
    top:20%;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    /*animation-name: example;
    animation-duration: 4s;*/
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   { left:-50%; top:20%;}
    100% {left:28%; top:20%;}
}

#otter2 {
    width: 25%;
    height: 100px;
    left:22%;
    position: relative;
    -webkit-animation-name: otter2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    /*animation-name: example;
    animation-duration: 4s;*/
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes otter2 {
    0%   {left:150%; top:0px;}
    100% {left:22%; top:0px;}
}
